/* src/app/components/employee/employee.component.css */

/* Estilize a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 20px;
}

/* Estilize o cabeçalho da tabela */
th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Estilize as células da tabela */
td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Alterne a cor de fundo das linhas da tabela */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo para linha selecionada */
tr.selected {
  background-color: #007bff; /* Tom de azul */
  color: #fff; /* Cor do texto na linha selecionada */
}

/* Efeito de hover na linha */
tr:hover {
  background-color: #ddd; /* Tom de cinza mais escuro */
}
.resizable {
  resize: horizontal; /* Permite redimensionamento horizontal */
  overflow: hidden;  /* Oculta o conteúdo que excede a largura */
  min-width: 50px;   /* Largura mínima inicial */
  max-width: 400px;   /* Largura máxima inicial */
}
