<!-- src/app/components/employee/employee.component.html -->
<div class="action-buttons">
  <button mat-button (click)="addEmployee()">Incluir</button>
  <button mat-button (click)="editEmployee()">Editar</button>
  <button mat-button (click)="deleteEmployee()">Excluir</button>
</div>
<table>
  <thead>
  <tr>
    <th (click)="sort('id')" class="resizable">ID</th>
    <th (click)="sort('name')" class="resizable">Nome</th>
    <th (click)="sort('codfuncao')" class="resizable">Código Função</th>
    <th (click)="sort('salary')" class="resizable">Salário</th>
    <th (click)="sort('dtnascimento')" class="resizable">Data de Nascimento</th>
    <th (click)="sort('dtadmissao')" class="resizable">Data de Admissão</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of sortedEmployees"
      [ngClass]="{ 'selected': employee.id === selectedEmployeeId }"
      (click)="selectEmployee(employee.id)">
    <td>{{ employee.id }}</td>
    <td>{{ employee.name }}</td>
    <td>{{ employee.codfuncao }}</td>
    <td>{{ formatSalary(employee.salary) }}</td>
    <td>{{ employee.dtnascimento | date:'dd/MM/yyyy' }}</td>
    <td>{{ employee.dtadmissao | date:'dd/MM/yyyy' }}</td>

  </tr>
  </tbody>
</table>
